<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AEmacron</key>
	<string>A_E_macron.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccircumflex</key>
	<string>C_circumflex.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Ddotbelow</key>
	<string>D_dotbelow.glif</string>
	<key>Delta.math</key>
	<string>D_elta_math.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ebreve</key>
	<string>E_breve.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Etilde</key>
	<string>E_tilde.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gdotaccent</key>
	<string>G_dotaccent.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbrevebelow</key>
	<string>H_brevebelow.glif</string>
	<key>Hdotbelow</key>
	<string>H_dotbelow.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kdotbelow</key>
	<string>K_dotbelow.glif</string>
	<key>Klinebelow</key>
	<string>K_linebelow.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Ldotbelow</key>
	<string>L_dotbelow.glif</string>
	<key>Ldotbelowmacron</key>
	<string>L_dotbelowmacron.glif</string>
	<key>Llinebelow</key>
	<string>L_linebelow.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Mdotaccent</key>
	<string>M_dotaccent.glif</string>
	<key>Mdotbelow</key>
	<string>M_dotbelow.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Ndotaccent</key>
	<string>N_dotaccent.glif</string>
	<key>Ndotbelow</key>
	<string>N_dotbelow.glif</string>
	<key>Nlinebelow</key>
	<string>N_linebelow.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Obreve</key>
	<string>O_breve.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omega.math</key>
	<string>O_mega_math.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Rdotaccent</key>
	<string>R_dotaccent.glif</string>
	<key>Rdotbelow</key>
	<string>R_dotbelow.glif</string>
	<key>Rdotbelowmacron</key>
	<string>R_dotbelowmacron.glif</string>
	<key>Rlinebelow</key>
	<string>R_linebelow.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Sdotbelow</key>
	<string>S_dotbelow.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tdotbelow</key>
	<string>T_dotbelow.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>Tlinebelow</key>
	<string>T_linebelow.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ubreve</key>
	<string>U_breve.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Utilde</key>
	<string>U_tilde.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydotaccent</key>
	<string>Y_dotaccent.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>ZWJ</key>
	<string>ZWJ_.glif</string>
	<key>ZWNJ</key>
	<string>ZWNJ_.glif</string>
	<key>ZWS</key>
	<string>ZWS_.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>Zdotbelow</key>
	<string>Z_dotbelow.glif</string>
	<key>Zlinebelow</key>
	<string>Z_linebelow.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecmb</key>
	<string>acutecmb.glif</string>
	<key>acutecmb.cap</key>
	<string>acutecmb_cap.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>aemacron</key>
	<string>aemacron.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevebelowcmb</key>
	<string>brevebelowcmb.glif</string>
	<key>brevecmb</key>
	<string>brevecmb.glif</string>
	<key>brevecmb.cap</key>
	<string>brevecmb_cap.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bulletoperator</key>
	<string>bulletoperator.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncmb</key>
	<string>caroncmb.glif</string>
	<key>caroncmb.cap</key>
	<string>caroncmb_cap.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacmb</key>
	<string>cedillacmb.glif</string>
	<key>cedillacmb.cap</key>
	<string>cedillacmb_cap.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circledotted</key>
	<string>circledotted.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcmb</key>
	<string>circumflexcmb.glif</string>
	<key>circumflexcmb.cap</key>
	<string>circumflexcmb_cap.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>danda</key>
	<string>danda.glif</string>
	<key>dandadbl</key>
	<string>dandadbl.glif</string>
	<key>ddotbelow</key>
	<string>ddotbelow.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresisbelowcmb</key>
	<string>dieresisbelowcmb.glif</string>
	<key>dieresiscmb</key>
	<string>dieresiscmb.glif</string>
	<key>dieresiscmb.cap</key>
	<string>dieresiscmb_cap.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcmb</key>
	<string>dotaccentcmb.glif</string>
	<key>dotaccentcmb.cap</key>
	<string>dotaccentcmb_cap.glif</string>
	<key>dotbelowcmb</key>
	<string>dotbelowcmb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dvA</key>
	<string>dvA_.glif</string>
	<key>dvAa</key>
	<string>dvAa_.glif</string>
	<key>dvAasign</key>
	<string>dvAasign_.glif</string>
	<key>dvAbbreviation</key>
	<string>dvAbbreviation_.glif</string>
	<key>dvAcandra</key>
	<string>dvAcandra_.glif</string>
	<key>dvAcute</key>
	<string>dvAcute_.glif</string>
	<key>dvAi</key>
	<string>dvAi_.glif</string>
	<key>dvAisign</key>
	<string>dvAisign_.glif</string>
	<key>dvAisignReph</key>
	<string>dvAisignReph_.glif</string>
	<key>dvAisignRephAnusvara</key>
	<string>dvAisignRephAnusvara_.glif</string>
	<key>dvAnudatta</key>
	<string>dvAnudatta_.glif</string>
	<key>dvAnusvara</key>
	<string>dvAnusvara_.glif</string>
	<key>dvAshort</key>
	<string>dvAshort_.glif</string>
	<key>dvAu</key>
	<string>dvAu_.glif</string>
	<key>dvAusign</key>
	<string>dvAusign_.glif</string>
	<key>dvAusignReph</key>
	<string>dvAusignReph_.glif</string>
	<key>dvAusignRephAnusvara</key>
	<string>dvAusignRephAnusvara_.glif</string>
	<key>dvAvagraha</key>
	<string>dvAvagraha_.glif</string>
	<key>dvB</key>
	<string>dvB_.glif</string>
	<key>dvB.a</key>
	<string>dvB_.a.glif</string>
	<key>dvBNa</key>
	<string>dvBNa_.glif</string>
	<key>dvBRa</key>
	<string>dvBRa_.glif</string>
	<key>dvBa</key>
	<string>dvBa_.glif</string>
	<key>dvBb</key>
	<string>dvBb_.glif</string>
	<key>dvBb.a</key>
	<string>dvBb_.a.glif</string>
	<key>dvBba</key>
	<string>dvBba_.glif</string>
	<key>dvBh</key>
	<string>dvBh_.glif</string>
	<key>dvBhR</key>
	<string>dvBhR_.glif</string>
	<key>dvBhRYa</key>
	<string>dvBhRYa_.glif</string>
	<key>dvBhRa</key>
	<string>dvBhRa_.glif</string>
	<key>dvBha</key>
	<string>dvBha_.glif</string>
	<key>dvC</key>
	<string>dvC_.glif</string>
	<key>dvC.a</key>
	<string>dvC_.a.glif</string>
	<key>dvCChVa</key>
	<string>dvCChVa_.glif</string>
	<key>dvCCha</key>
	<string>dvCCha_.glif</string>
	<key>dvCNa</key>
	<string>dvCNa_.glif</string>
	<key>dvCRa</key>
	<string>dvCRa_.glif</string>
	<key>dvCa</key>
	<string>dvCa_.glif</string>
	<key>dvCandrabindu</key>
	<string>dvCandrabindu_.glif</string>
	<key>dvCh.a</key>
	<string>dvCh_.a.glif</string>
	<key>dvChVa</key>
	<string>dvChVa_.glif</string>
	<key>dvChYa</key>
	<string>dvChYa_.glif</string>
	<key>dvCha</key>
	<string>dvCha_.glif</string>
	<key>dvDBRa</key>
	<string>dvDBRa_.glif</string>
	<key>dvDBa</key>
	<string>dvDBa_.glif</string>
	<key>dvDBhYa</key>
	<string>dvDBhYa_.glif</string>
	<key>dvDBha</key>
	<string>dvDBha_.glif</string>
	<key>dvDDhYa</key>
	<string>dvDDhYa_.glif</string>
	<key>dvDDhYa.copy_1</key>
	<string>dvDDhYa_.copy_1.glif</string>
	<key>dvDDha</key>
	<string>dvDDha_.glif</string>
	<key>dvDDha.copy_1</key>
	<string>dvDDha_.copy_1.glif</string>
	<key>dvDGRa</key>
	<string>dvDGRa_.glif</string>
	<key>dvDGa</key>
	<string>dvDGa_.glif</string>
	<key>dvDGha</key>
	<string>dvDGha_.glif</string>
	<key>dvDMa</key>
	<string>dvDMa_.glif</string>
	<key>dvDNa</key>
	<string>dvDNa_.glif</string>
	<key>dvDRYa</key>
	<string>dvDRYa_.glif</string>
	<key>dvDRa</key>
	<string>dvDRa_.glif</string>
	<key>dvDRvocal</key>
	<string>dvDRvocal_.glif</string>
	<key>dvDVRa</key>
	<string>dvDVRa_.glif</string>
	<key>dvDVYa</key>
	<string>dvDVYa_.glif</string>
	<key>dvDVa</key>
	<string>dvDVa_.glif</string>
	<key>dvDYa</key>
	<string>dvDYa_.glif</string>
	<key>dvDa</key>
	<string>dvDa_.glif</string>
	<key>dvDdDdYa</key>
	<string>dvDdDdYa_.glif</string>
	<key>dvDdDda</key>
	<string>dvDdDda_.glif</string>
	<key>dvDdDdha</key>
	<string>dvDdDdha_.glif</string>
	<key>dvDdTta</key>
	<string>dvDdTta_.glif</string>
	<key>dvDdYa</key>
	<string>dvDdYa_.glif</string>
	<key>dvDdYa.copy_1</key>
	<string>dvDdYa_.copy_1.glif</string>
	<key>dvDda</key>
	<string>dvDda_.glif</string>
	<key>dvDda.copy_1</key>
	<string>dvDda_.copy_1.glif</string>
	<key>dvDdda</key>
	<string>dvDdda_.glif</string>
	<key>dvDddha</key>
	<string>dvDddha_.glif</string>
	<key>dvDdhDdhYa</key>
	<string>dvDdhDdhYa_.glif</string>
	<key>dvDdhDdha</key>
	<string>dvDdhDdha_.glif</string>
	<key>dvDh</key>
	<string>dvDh_.glif</string>
	<key>dvDhNYa</key>
	<string>dvDhNYa_.glif</string>
	<key>dvDhNa</key>
	<string>dvDhNa_.glif</string>
	<key>dvDhR</key>
	<string>dvDhR_.glif</string>
	<key>dvDhRa</key>
	<string>dvDhRa_.glif</string>
	<key>dvDha</key>
	<string>dvDha_.glif</string>
	<key>dvE</key>
	<string>dvE_.glif</string>
	<key>dvEcandra</key>
	<string>dvEcandra_.glif</string>
	<key>dvEcandrasign</key>
	<string>dvEcandrasign_.glif</string>
	<key>dvEight</key>
	<string>dvEight_.glif</string>
	<key>dvEight.a</key>
	<string>dvEight_.a.glif</string>
	<key>dvEight.pnma</key>
	<string>dvEight_.pnma.glif</string>
	<key>dvEight.pnum</key>
	<string>dvEight_.pnum.glif</string>
	<key>dvEshort</key>
	<string>dvEshort_.glif</string>
	<key>dvEshortsign</key>
	<string>dvEshortsign_.glif</string>
	<key>dvEsign</key>
	<string>dvEsign_.glif</string>
	<key>dvEsignReph</key>
	<string>dvEsignReph_.glif</string>
	<key>dvEsignRephAnusvara</key>
	<string>dvEsignRephAnusvara_.glif</string>
	<key>dvF</key>
	<string>dvF_.glif</string>
	<key>dvFRa</key>
	<string>dvFRa_.glif</string>
	<key>dvFa</key>
	<string>dvFa_.glif</string>
	<key>dvFive</key>
	<string>dvFive_.glif</string>
	<key>dvFive.a</key>
	<string>dvFive_.a.glif</string>
	<key>dvFive.pnma</key>
	<string>dvFive_.pnma.glif</string>
	<key>dvFive.pnum</key>
	<string>dvFive_.pnum.glif</string>
	<key>dvFour</key>
	<string>dvFour_.glif</string>
	<key>dvFour.pnum</key>
	<string>dvFour_.pnum.glif</string>
	<key>dvG</key>
	<string>dvG_.glif</string>
	<key>dvGNYa</key>
	<string>dvGNYa_.glif</string>
	<key>dvGNa</key>
	<string>dvGNa_.glif</string>
	<key>dvGR</key>
	<string>dvGR_.glif</string>
	<key>dvGRYa</key>
	<string>dvGRYa_.glif</string>
	<key>dvGRa</key>
	<string>dvGRa_.glif</string>
	<key>dvGa</key>
	<string>dvGa_.glif</string>
	<key>dvGg</key>
	<string>dvGg_.glif</string>
	<key>dvGga</key>
	<string>dvGga_.glif</string>
	<key>dvGh</key>
	<string>dvGh_.glif</string>
	<key>dvGhNa</key>
	<string>dvGhNa_.glif</string>
	<key>dvGhR</key>
	<string>dvGhR_.glif</string>
	<key>dvGhRa</key>
	<string>dvGhRa_.glif</string>
	<key>dvGha</key>
	<string>dvGha_.glif</string>
	<key>dvGhh</key>
	<string>dvGhh_.glif</string>
	<key>dvGhhRa</key>
	<string>dvGhhRa_.glif</string>
	<key>dvGhha</key>
	<string>dvGhha_.glif</string>
	<key>dvGrave</key>
	<string>dvGrave_.glif</string>
	<key>dvHLa</key>
	<string>dvHLa_.glif</string>
	<key>dvHMYa</key>
	<string>dvHMYa_.glif</string>
	<key>dvHMa</key>
	<string>dvHMa_.glif</string>
	<key>dvHNa</key>
	<string>dvHNa_.glif</string>
	<key>dvHNna</key>
	<string>dvHNna_.glif</string>
	<key>dvHRa</key>
	<string>dvHRa_.glif</string>
	<key>dvHRvocal</key>
	<string>dvHRvocal_.glif</string>
	<key>dvHU</key>
	<string>dvHU_.glif</string>
	<key>dvHUu</key>
	<string>dvHUu_.glif</string>
	<key>dvHVa</key>
	<string>dvHVa_.glif</string>
	<key>dvHYa</key>
	<string>dvHYa_.glif</string>
	<key>dvHa</key>
	<string>dvHa_.glif</string>
	<key>dvI</key>
	<string>dvI_.glif</string>
	<key>dvIi</key>
	<string>dvIi_.glif</string>
	<key>dvIiAnusvara</key>
	<string>dvIiAnusvara_.glif</string>
	<key>dvIisign</key>
	<string>dvIisign_.glif</string>
	<key>dvIisignReph</key>
	<string>dvIisignReph_.glif</string>
	<key>dvIisignReph.M</key>
	<string>dvIisignReph_.M_.glif</string>
	<key>dvIisignReph.W</key>
	<string>dvIisignReph_.W_.glif</string>
	<key>dvIisignRephAnusvara</key>
	<string>dvIisignRephAnusvara_.glif</string>
	<key>dvIisignRephAnusvara.M</key>
	<string>dvIisignRephAnusvara_.M_.glif</string>
	<key>dvIisignRephAnusvara.W</key>
	<string>dvIisignRephAnusvara_.W_.glif</string>
	<key>dvIsign</key>
	<string>dvIsign_.glif</string>
	<key>dvJ</key>
	<string>dvJ_.glif</string>
	<key>dvJNa</key>
	<string>dvJNa_.glif</string>
	<key>dvJNy</key>
	<string>dvJNy_.glif</string>
	<key>dvJNyYa</key>
	<string>dvJNyYa_.glif</string>
	<key>dvJNya</key>
	<string>dvJNya_.glif</string>
	<key>dvJRa</key>
	<string>dvJRa_.glif</string>
	<key>dvJa</key>
	<string>dvJa_.glif</string>
	<key>dvJh</key>
	<string>dvJh_.glif</string>
	<key>dvJhNa</key>
	<string>dvJhNa_.glif</string>
	<key>dvJhRa</key>
	<string>dvJhRa_.glif</string>
	<key>dvJha</key>
	<string>dvJha_.glif</string>
	<key>dvJj</key>
	<string>dvJj_.glif</string>
	<key>dvJja</key>
	<string>dvJja_.glif</string>
	<key>dvK</key>
	<string>dvK_.glif</string>
	<key>dvKKa</key>
	<string>dvKKa_.glif</string>
	<key>dvKLa</key>
	<string>dvKLa_.glif</string>
	<key>dvKNa</key>
	<string>dvKNa_.glif</string>
	<key>dvKR</key>
	<string>dvKR_.glif</string>
	<key>dvKRa</key>
	<string>dvKRa_.glif</string>
	<key>dvKRa.a</key>
	<string>dvKRa_.a.glif</string>
	<key>dvKSs</key>
	<string>dvKSs_.glif</string>
	<key>dvKSsMa</key>
	<string>dvKSsMa_.glif</string>
	<key>dvKSsRa</key>
	<string>dvKSsRa_.glif</string>
	<key>dvKSsYa</key>
	<string>dvKSsYa_.glif</string>
	<key>dvKSsa</key>
	<string>dvKSsa_.glif</string>
	<key>dvKTRa</key>
	<string>dvKTRa_.glif</string>
	<key>dvKTa</key>
	<string>dvKTa_.glif</string>
	<key>dvKVa</key>
	<string>dvKVa_.glif</string>
	<key>dvKYa</key>
	<string>dvKYa_.glif</string>
	<key>dvKa</key>
	<string>dvKa_.glif</string>
	<key>dvKh</key>
	<string>dvKh_.glif</string>
	<key>dvKh.a</key>
	<string>dvKh_.a.glif</string>
	<key>dvKhNa</key>
	<string>dvKhNa_.glif</string>
	<key>dvKhRa</key>
	<string>dvKhRa_.glif</string>
	<key>dvKha</key>
	<string>dvKha_.glif</string>
	<key>dvKhh</key>
	<string>dvKhh_.glif</string>
	<key>dvKhh.a</key>
	<string>dvKhh_.a.glif</string>
	<key>dvKhhRa</key>
	<string>dvKhhRa_.glif</string>
	<key>dvKhha</key>
	<string>dvKhha_.glif</string>
	<key>dvL</key>
	<string>dvL_.glif</string>
	<key>dvLLa</key>
	<string>dvLLa_.glif</string>
	<key>dvLLa.copy_1</key>
	<string>dvLLa_.copy_1.glif</string>
	<key>dvLRa</key>
	<string>dvLRa_.glif</string>
	<key>dvLa</key>
	<string>dvLa_.glif</string>
	<key>dvLa.MAR</key>
	<string>dvLa_.MAR_.glif</string>
	<key>dvLl</key>
	<string>dvLl_.glif</string>
	<key>dvLll</key>
	<string>dvLll_.glif</string>
	<key>dvLlla</key>
	<string>dvLlla_.glif</string>
	<key>dvLlvocal</key>
	<string>dvLlvocal_.glif</string>
	<key>dvLlvocalsign</key>
	<string>dvLlvocalsign_.glif</string>
	<key>dvLvocal</key>
	<string>dvLvocal_.glif</string>
	<key>dvLvocalsign</key>
	<string>dvLvocalsign_.glif</string>
	<key>dvM</key>
	<string>dvM_.glif</string>
	<key>dvM.a</key>
	<string>dvM_.a.glif</string>
	<key>dvMNa</key>
	<string>dvMNa_.glif</string>
	<key>dvMRa</key>
	<string>dvMRa_.glif</string>
	<key>dvMa</key>
	<string>dvMa_.glif</string>
	<key>dvN</key>
	<string>dvN_.glif</string>
	<key>dvNRa</key>
	<string>dvNRa_.glif</string>
	<key>dvNa</key>
	<string>dvNa_.glif</string>
	<key>dvNa.c2</key>
	<string>dvNa_.c2.glif</string>
	<key>dvNgGa</key>
	<string>dvNgGa_.glif</string>
	<key>dvNgGha</key>
	<string>dvNgGha_.glif</string>
	<key>dvNgKRa</key>
	<string>dvNgKRa_.glif</string>
	<key>dvNgKSsa</key>
	<string>dvNgKSsa_.glif</string>
	<key>dvNgKa</key>
	<string>dvNgKa_.glif</string>
	<key>dvNgKha</key>
	<string>dvNgKha_.glif</string>
	<key>dvNgMa</key>
	<string>dvNgMa_.glif</string>
	<key>dvNgYa</key>
	<string>dvNgYa_.glif</string>
	<key>dvNga</key>
	<string>dvNga_.glif</string>
	<key>dvNine</key>
	<string>dvNine_.glif</string>
	<key>dvNine.a</key>
	<string>dvNine_.a.glif</string>
	<key>dvNine.pnma</key>
	<string>dvNine_.pnma.glif</string>
	<key>dvNine.pnum</key>
	<string>dvNine_.pnum.glif</string>
	<key>dvNn</key>
	<string>dvNn_.glif</string>
	<key>dvNnRa</key>
	<string>dvNnRa_.glif</string>
	<key>dvNna</key>
	<string>dvNna_.glif</string>
	<key>dvNna.copy_1</key>
	<string>dvNna_.copy_1.glif</string>
	<key>dvNnn</key>
	<string>dvNnn_.glif</string>
	<key>dvNnnRa</key>
	<string>dvNnnRa_.glif</string>
	<key>dvNnna</key>
	<string>dvNnna_.glif</string>
	<key>dvNukta</key>
	<string>dvNukta_.glif</string>
	<key>dvNxa.c2</key>
	<string>dvNxa_.c2.glif</string>
	<key>dvNy</key>
	<string>dvNy_.glif</string>
	<key>dvNyCYa</key>
	<string>dvNyCYa_.glif</string>
	<key>dvNyCa</key>
	<string>dvNyCa_.glif</string>
	<key>dvNyCha</key>
	<string>dvNyCha_.glif</string>
	<key>dvNyJYa</key>
	<string>dvNyJYa_.glif</string>
	<key>dvNyJa</key>
	<string>dvNyJa_.glif</string>
	<key>dvNyRa</key>
	<string>dvNyRa_.glif</string>
	<key>dvNya</key>
	<string>dvNya_.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvOcandra</key>
	<string>dvOcandra_.glif</string>
	<key>dvOcandrasign</key>
	<string>dvOcandrasign_.glif</string>
	<key>dvOm</key>
	<string>dvOm_.glif</string>
	<key>dvOne</key>
	<string>dvOne_.glif</string>
	<key>dvOne.a</key>
	<string>dvOne_.a.glif</string>
	<key>dvOne.pnma</key>
	<string>dvOne_.pnma.glif</string>
	<key>dvOne.pnum</key>
	<string>dvOne_.pnum.glif</string>
	<key>dvOshort</key>
	<string>dvOshort_.glif</string>
	<key>dvOshortsign</key>
	<string>dvOshortsign_.glif</string>
	<key>dvOsign</key>
	<string>dvOsign_.glif</string>
	<key>dvOsignReph</key>
	<string>dvOsignReph_.glif</string>
	<key>dvOsignRephAnusvara</key>
	<string>dvOsignRephAnusvara_.glif</string>
	<key>dvP</key>
	<string>dvP_.glif</string>
	<key>dvP.a</key>
	<string>dvP_.a.glif</string>
	<key>dvPR</key>
	<string>dvPR_.glif</string>
	<key>dvPRa</key>
	<string>dvPRa_.glif</string>
	<key>dvPTa</key>
	<string>dvPTa_.glif</string>
	<key>dvPTta</key>
	<string>dvPTta_.glif</string>
	<key>dvPa</key>
	<string>dvPa_.glif</string>
	<key>dvPh</key>
	<string>dvPh_.glif</string>
	<key>dvPhRa</key>
	<string>dvPhRa_.glif</string>
	<key>dvPha</key>
	<string>dvPha_.glif</string>
	<key>dvQ</key>
	<string>dvQ_.glif</string>
	<key>dvQR</key>
	<string>dvQR_.glif</string>
	<key>dvQRa</key>
	<string>dvQRa_.glif</string>
	<key>dvQa</key>
	<string>dvQa_.glif</string>
	<key>dvRU</key>
	<string>dvRU_.glif</string>
	<key>dvRUu</key>
	<string>dvRUu_.glif</string>
	<key>dvRa</key>
	<string>dvRa_.glif</string>
	<key>dvRakarUsign</key>
	<string>dvRakarUsign_.glif</string>
	<key>dvRakarUusign</key>
	<string>dvRakarUusign_.glif</string>
	<key>dvReph</key>
	<string>dvReph_.glif</string>
	<key>dvReph.MAR</key>
	<string>dvReph_.MAR_.glif</string>
	<key>dvRephAnusvara</key>
	<string>dvRephAnusvara_.glif</string>
	<key>dvRha</key>
	<string>dvRha_.glif</string>
	<key>dvRr</key>
	<string>dvRr_.glif</string>
	<key>dvRra</key>
	<string>dvRra_.glif</string>
	<key>dvRrvocal</key>
	<string>dvRrvocal_.glif</string>
	<key>dvRrvocalsign</key>
	<string>dvRrvocalsign_.glif</string>
	<key>dvRvocal</key>
	<string>dvRvocal_.glif</string>
	<key>dvRvocalsign</key>
	<string>dvRvocalsign_.glif</string>
	<key>dvS</key>
	<string>dvS_.glif</string>
	<key>dvSNa</key>
	<string>dvSNa_.glif</string>
	<key>dvSR</key>
	<string>dvSR_.glif</string>
	<key>dvSRa</key>
	<string>dvSRa_.glif</string>
	<key>dvSa</key>
	<string>dvSa_.glif</string>
	<key>dvSeven</key>
	<string>dvSeven_.glif</string>
	<key>dvSeven.pnum</key>
	<string>dvSeven_.pnum.glif</string>
	<key>dvSh</key>
	<string>dvSh_.glif</string>
	<key>dvSh.MAR</key>
	<string>dvSh_.MAR_.glif</string>
	<key>dvShCa</key>
	<string>dvShCa_.glif</string>
	<key>dvShNa</key>
	<string>dvShNa_.glif</string>
	<key>dvShR</key>
	<string>dvShR_.glif</string>
	<key>dvShRYa</key>
	<string>dvShRYa_.glif</string>
	<key>dvShRa</key>
	<string>dvShRa_.glif</string>
	<key>dvShRvocal</key>
	<string>dvShRvocal_.glif</string>
	<key>dvShRvocal.MAR</key>
	<string>dvShRvocal_.MAR_.glif</string>
	<key>dvShVa</key>
	<string>dvShVa_.glif</string>
	<key>dvSha</key>
	<string>dvSha_.glif</string>
	<key>dvSha.MAR</key>
	<string>dvSha_.MAR_.glif</string>
	<key>dvSix</key>
	<string>dvSix_.glif</string>
	<key>dvSix.pnum</key>
	<string>dvSix_.pnum.glif</string>
	<key>dvSs</key>
	<string>dvSs_.glif</string>
	<key>dvSs.a</key>
	<string>dvSs_.a.glif</string>
	<key>dvSsR</key>
	<string>dvSsR_.glif</string>
	<key>dvSsRa</key>
	<string>dvSsRa_.glif</string>
	<key>dvSsTtVa</key>
	<string>dvSsTtVa_.glif</string>
	<key>dvSsTtYa</key>
	<string>dvSsTtYa_.glif</string>
	<key>dvSsTta</key>
	<string>dvSsTta_.glif</string>
	<key>dvSsTthYa</key>
	<string>dvSsTthYa_.glif</string>
	<key>dvSsTtha</key>
	<string>dvSsTtha_.glif</string>
	<key>dvSsa</key>
	<string>dvSsa_.glif</string>
	<key>dvStop</key>
	<string>dvStop_.glif</string>
	<key>dvT</key>
	<string>dvT_.glif</string>
	<key>dvT.a</key>
	<string>dvT_.a.glif</string>
	<key>dvTNa</key>
	<string>dvTNa_.glif</string>
	<key>dvTR</key>
	<string>dvTR_.glif</string>
	<key>dvTRYa</key>
	<string>dvTRYa_.glif</string>
	<key>dvTRYa.a</key>
	<string>dvTRYa_.a.glif</string>
	<key>dvTRa</key>
	<string>dvTRa_.glif</string>
	<key>dvTRa.a</key>
	<string>dvTRa_.a.glif</string>
	<key>dvTT</key>
	<string>dvTT_.glif</string>
	<key>dvTTa</key>
	<string>dvTTa_.glif</string>
	<key>dvTTa.copy_1</key>
	<string>dvTTa_.copy_1.glif</string>
	<key>dvTa</key>
	<string>dvTa_.glif</string>
	<key>dvTh</key>
	<string>dvTh_.glif</string>
	<key>dvThRa</key>
	<string>dvThRa_.glif</string>
	<key>dvTha</key>
	<string>dvTha_.glif</string>
	<key>dvThree</key>
	<string>dvThree_.glif</string>
	<key>dvThree.pnum</key>
	<string>dvThree_.pnum.glif</string>
	<key>dvTtDdha</key>
	<string>dvTtDdha_.glif</string>
	<key>dvTtTtYa</key>
	<string>dvTtTtYa_.glif</string>
	<key>dvTtTta</key>
	<string>dvTtTta_.glif</string>
	<key>dvTtTtha</key>
	<string>dvTtTtha_.glif</string>
	<key>dvTtVa</key>
	<string>dvTtVa_.glif</string>
	<key>dvTtYa</key>
	<string>dvTtYa_.glif</string>
	<key>dvTthTthYa</key>
	<string>dvTthTthYa_.glif</string>
	<key>dvTthTtha</key>
	<string>dvTthTtha_.glif</string>
	<key>dvTthYa</key>
	<string>dvTthYa_.glif</string>
	<key>dvTtha</key>
	<string>dvTtha_.glif</string>
	<key>dvTwo</key>
	<string>dvTwo_.glif</string>
	<key>dvTwo.pnum</key>
	<string>dvTwo_.pnum.glif</string>
	<key>dvU</key>
	<string>dvU_.glif</string>
	<key>dvUdatta</key>
	<string>dvUdatta_.glif</string>
	<key>dvUsign</key>
	<string>dvUsign_.glif</string>
	<key>dvUsign.a</key>
	<string>dvUsign_.a.glif</string>
	<key>dvUu</key>
	<string>dvUu_.glif</string>
	<key>dvUusign</key>
	<string>dvUusign_.glif</string>
	<key>dvUusign.a</key>
	<string>dvUusign_.a.glif</string>
	<key>dvV</key>
	<string>dvV_.glif</string>
	<key>dvV.a</key>
	<string>dvV_.a.glif</string>
	<key>dvVRa</key>
	<string>dvVRa_.glif</string>
	<key>dvVa</key>
	<string>dvVa_.glif</string>
	<key>dvVirama</key>
	<string>dvVirama_.glif</string>
	<key>dvVisarga</key>
	<string>dvVisarga_.glif</string>
	<key>dvY</key>
	<string>dvY_.glif</string>
	<key>dvYRa</key>
	<string>dvYRa_.glif</string>
	<key>dvYa</key>
	<string>dvYa_.glif</string>
	<key>dvYa.c2</key>
	<string>dvYa_.c2.glif</string>
	<key>dvYxa.c2</key>
	<string>dvYxa_.c2.glif</string>
	<key>dvYy</key>
	<string>dvYy_.glif</string>
	<key>dvYyRa</key>
	<string>dvYyRa_.glif</string>
	<key>dvYya</key>
	<string>dvYya_.glif</string>
	<key>dvZ</key>
	<string>dvZ_.glif</string>
	<key>dvZRa</key>
	<string>dvZRa_.glif</string>
	<key>dvZa</key>
	<string>dvZa_.glif</string>
	<key>dvZero</key>
	<string>dvZero_.glif</string>
	<key>dvZero.pnum</key>
	<string>dvZero_.pnum.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.pnum</key>
	<string>eight_pnum.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>etilde</key>
	<string>etilde.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.pnum</key>
	<string>five_pnum.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.pnum</key>
	<string>four_pnum.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecmb</key>
	<string>gravecmb.glif</string>
	<key>gravecmb.cap</key>
	<string>gravecmb_cap.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbrevebelow</key>
	<string>hbrevebelow.glif</string>
	<key>hdotbelow</key>
	<string>hdotbelow.glif</string>
	<key>hlinebelow</key>
	<string>hlinebelow.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcmb</key>
	<string>hungarumlautcmb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kdotbelow</key>
	<string>kdotbelow.glif</string>
	<key>klinebelow</key>
	<string>klinebelow.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>ldotbelow</key>
	<string>ldotbelow.glif</string>
	<key>ldotbelowmacron</key>
	<string>ldotbelowmacron.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>litre</key>
	<string>litre.glif</string>
	<key>llinebelow</key>
	<string>llinebelow.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macronbelowcmb</key>
	<string>macronbelowcmb.glif</string>
	<key>macroncmb</key>
	<string>macroncmb.glif</string>
	<key>macroncmb.cap</key>
	<string>macroncmb_cap.glif</string>
	<key>mdotaccent</key>
	<string>mdotaccent.glif</string>
	<key>mdotbelow</key>
	<string>mdotbelow.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu.math</key>
	<string>mu_math.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ndotaccent</key>
	<string>ndotaccent.glif</string>
	<key>ndotbelow</key>
	<string>ndotbelow.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.pnum</key>
	<string>nine_pnum.glif</string>
	<key>nlinebelow</key>
	<string>nlinebelow.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcmb</key>
	<string>ogonekcmb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.pnum</key>
	<string>one_pnum.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rdotaccent</key>
	<string>rdotaccent.glif</string>
	<key>rdotbelow</key>
	<string>rdotbelow.glif</string>
	<key>rdotbelowmacron</key>
	<string>rdotbelowmacron.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringbelowcmb</key>
	<string>ringbelowcmb.glif</string>
	<key>ringcmb</key>
	<string>ringcmb.glif</string>
	<key>ringcmb.cap</key>
	<string>ringcmb_cap.glif</string>
	<key>rlinebelow</key>
	<string>rlinebelow.glif</string>
	<key>rupeeindian</key>
	<string>rupeeindian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>sdotbelow</key>
	<string>sdotbelow.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.pnum</key>
	<string>seven_pnum.glif</string>
	<key>sfthyphen</key>
	<string>sfthyphen.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.pnum</key>
	<string>six_pnum.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>svastiright</key>
	<string>svastiright.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tdotbelow</key>
	<string>tdotbelow.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.pnum</key>
	<string>three_pnum.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecmb</key>
	<string>tildecmb.glif</string>
	<key>tildecmb.cap</key>
	<string>tildecmb_cap.glif</string>
	<key>tlinebelow</key>
	<string>tlinebelow.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.pnum</key>
	<string>two_pnum.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>veSvaritadbl</key>
	<string>veSvaritadbl_.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydotaccent</key>
	<string>ydotaccent.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zdotbelow</key>
	<string>zdotbelow.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.pnum</key>
	<string>zero_pnum.glif</string>
	<key>zlinebelow</key>
	<string>zlinebelow.glif</string>
</dict>
</plist>
