<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>AEmacron</key>
		<string>A_E_macron.glif</string>
		<key>Aacute</key>
		<string>A_acute.glif</string>
		<key>Abreve</key>
		<string>A_breve.glif</string>
		<key>Acircumflex</key>
		<string>A_circumflex.glif</string>
		<key>Adieresis</key>
		<string>A_dieresis.glif</string>
		<key>Agrave</key>
		<string>A_grave.glif</string>
		<key>Amacron</key>
		<string>A_macron.glif</string>
		<key>Aring</key>
		<string>A_ring.glif</string>
		<key>Atilde</key>
		<string>A_tilde.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Ccedilla</key>
		<string>C_cedilla.glif</string>
		<key>Ccircumflex</key>
		<string>C_circumflex.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Ddotbelow</key>
		<string>D_dotbelow.glif</string>
		<key>Delta.math</key>
		<string>D_elta.math.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eacute</key>
		<string>E_acute.glif</string>
		<key>Ebreve</key>
		<string>E_breve.glif</string>
		<key>Ecircumflex</key>
		<string>E_circumflex.glif</string>
		<key>Edieresis</key>
		<string>E_dieresis.glif</string>
		<key>Egrave</key>
		<string>E_grave.glif</string>
		<key>Emacron</key>
		<string>E_macron.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>Etilde</key>
		<string>E_tilde.glif</string>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Gdotaccent</key>
		<string>G_dotaccent.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Hbrevebelow</key>
		<string>H_brevebelow.glif</string>
		<key>Hdotbelow</key>
		<string>H_dotbelow.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>Iacute</key>
		<string>I_acute.glif</string>
		<key>Icircumflex</key>
		<string>I_circumflex.glif</string>
		<key>Idieresis</key>
		<string>I_dieresis.glif</string>
		<key>Igrave</key>
		<string>I_grave.glif</string>
		<key>Imacron</key>
		<string>I_macron.glif</string>
		<key>Itilde</key>
		<string>I_tilde.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>Kdotbelow</key>
		<string>K_dotbelow.glif</string>
		<key>Klinebelow</key>
		<string>K_linebelow.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>Ldotbelow</key>
		<string>L_dotbelow.glif</string>
		<key>Ldotbelowmacron</key>
		<string>L_dotbelowmacron.glif</string>
		<key>Llinebelow</key>
		<string>L_linebelow.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>Mdotaccent</key>
		<string>M_dotaccent.glif</string>
		<key>Mdotbelow</key>
		<string>M_dotbelow.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Ndotaccent</key>
		<string>N_dotaccent.glif</string>
		<key>Ndotbelow</key>
		<string>N_dotbelow.glif</string>
		<key>Nlinebelow</key>
		<string>N_linebelow.glif</string>
		<key>Ntilde</key>
		<string>N_tilde.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oacute</key>
		<string>O_acute.glif</string>
		<key>Obreve</key>
		<string>O_breve.glif</string>
		<key>Ocircumflex</key>
		<string>O_circumflex.glif</string>
		<key>Odieresis</key>
		<string>O_dieresis.glif</string>
		<key>Ograve</key>
		<string>O_grave.glif</string>
		<key>Omacron</key>
		<string>O_macron.glif</string>
		<key>Omega.math</key>
		<string>O_mega.math.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Otilde</key>
		<string>O_tilde.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>Rdotaccent</key>
		<string>R_dotaccent.glif</string>
		<key>Rdotbelow</key>
		<string>R_dotbelow.glif</string>
		<key>Rdotbelowmacron</key>
		<string>R_dotbelowmacron.glif</string>
		<key>Rlinebelow</key>
		<string>R_linebelow.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Sacute</key>
		<string>S_acute.glif</string>
		<key>Scaron</key>
		<string>S_caron.glif</string>
		<key>Sdotbelow</key>
		<string>S_dotbelow.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Tdotbelow</key>
		<string>T_dotbelow.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>Tlinebelow</key>
		<string>T_linebelow.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>Uacute</key>
		<string>U_acute.glif</string>
		<key>Ubreve</key>
		<string>U_breve.glif</string>
		<key>Ucircumflex</key>
		<string>U_circumflex.glif</string>
		<key>Udieresis</key>
		<string>U_dieresis.glif</string>
		<key>Ugrave</key>
		<string>U_grave.glif</string>
		<key>Umacron</key>
		<string>U_macron.glif</string>
		<key>Utilde</key>
		<string>U_tilde.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Yacute</key>
		<string>Y_acute.glif</string>
		<key>Ydieresis</key>
		<string>Y_dieresis.glif</string>
		<key>Ydotaccent</key>
		<string>Y_dotaccent.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>ZWJ</key>
		<string>Z_W_J_.glif</string>
		<key>ZWNJ</key>
		<string>Z_W_N_J_.glif</string>
		<key>ZWS</key>
		<string>Z_W_S_.glif</string>
		<key>Zcaron</key>
		<string>Z_caron.glif</string>
		<key>Zdotaccent</key>
		<string>Z_dotaccent.glif</string>
		<key>Zdotbelow</key>
		<string>Z_dotbelow.glif</string>
		<key>Zlinebelow</key>
		<string>Z_linebelow.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>aacute</key>
		<string>aacute.glif</string>
		<key>abreve</key>
		<string>abreve.glif</string>
		<key>acircumflex</key>
		<string>acircumflex.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>acutecmb</key>
		<string>acutecmb.glif</string>
		<key>acutecmb.cap</key>
		<string>acutecmb.cap.glif</string>
		<key>adieresis</key>
		<string>adieresis.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>aemacron</key>
		<string>aemacron.glif</string>
		<key>agrave</key>
		<string>agrave.glif</string>
		<key>amacron</key>
		<string>amacron.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>approxequal</key>
		<string>approxequal.glif</string>
		<key>aring</key>
		<string>aring.glif</string>
		<key>asciicircum</key>
		<string>asciicircum.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>atilde</key>
		<string>atilde.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>breve</key>
		<string>breve.glif</string>
		<key>brevebelowcmb</key>
		<string>brevebelowcmb.glif</string>
		<key>brevecmb</key>
		<string>brevecmb.glif</string>
		<key>brevecmb.cap</key>
		<string>brevecmb.cap.glif</string>
		<key>brokenbar</key>
		<string>brokenbar.glif</string>
		<key>bullet</key>
		<string>bullet.glif</string>
		<key>bulletoperator</key>
		<string>bulletoperator.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>caron</key>
		<string>caron.glif</string>
		<key>caroncmb</key>
		<string>caroncmb.glif</string>
		<key>caroncmb.cap</key>
		<string>caroncmb.cap.glif</string>
		<key>ccedilla</key>
		<string>ccedilla.glif</string>
		<key>ccircumflex</key>
		<string>ccircumflex.glif</string>
		<key>cedilla</key>
		<string>cedilla.glif</string>
		<key>cedillacmb</key>
		<string>cedillacmb.glif</string>
		<key>cedillacmb.cap</key>
		<string>cedillacmb.cap.glif</string>
		<key>cent</key>
		<string>cent.glif</string>
		<key>circledotted</key>
		<string>circledotted.glif</string>
		<key>circumflex</key>
		<string>circumflex.glif</string>
		<key>circumflexcmb</key>
		<string>circumflexcmb.glif</string>
		<key>circumflexcmb.cap</key>
		<string>circumflexcmb.cap.glif</string>
		<key>colon</key>
		<string>colon.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>currency</key>
		<string>currency.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>dagger</key>
		<string>dagger.glif</string>
		<key>daggerdbl</key>
		<string>daggerdbl.glif</string>
		<key>danda</key>
		<string>danda.glif</string>
		<key>dandadbl</key>
		<string>dandadbl.glif</string>
		<key>ddotbelow</key>
		<string>ddotbelow.glif</string>
		<key>degree</key>
		<string>degree.glif</string>
		<key>dieresis</key>
		<string>dieresis.glif</string>
		<key>dieresisbelowcmb</key>
		<string>dieresisbelowcmb.glif</string>
		<key>dieresiscmb</key>
		<string>dieresiscmb.glif</string>
		<key>dieresiscmb.cap</key>
		<string>dieresiscmb.cap.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>divisionslash</key>
		<string>divisionslash.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>dotaccent</key>
		<string>dotaccent.glif</string>
		<key>dotaccentcmb</key>
		<string>dotaccentcmb.glif</string>
		<key>dotaccentcmb.cap</key>
		<string>dotaccentcmb.cap.glif</string>
		<key>dotbelowcmb</key>
		<string>dotbelowcmb.glif</string>
		<key>dotlessi</key>
		<string>dotlessi.glif</string>
		<key>dvA</key>
		<string>dvA_.glif</string>
		<key>dvAa</key>
		<string>dvA_a.glif</string>
		<key>dvAasign</key>
		<string>dvA_asign.glif</string>
		<key>dvAbbreviation</key>
		<string>dvA_bbreviation.glif</string>
		<key>dvAcandra</key>
		<string>dvA_candra.glif</string>
		<key>dvAcute</key>
		<string>dvA_cute.glif</string>
		<key>dvAi</key>
		<string>dvA_i.glif</string>
		<key>dvAisign</key>
		<string>dvA_isign.glif</string>
		<key>dvAisignReph</key>
		<string>dvA_isignR_eph.glif</string>
		<key>dvAisignRephAnusvara</key>
		<string>dvA_isignR_ephA_nusvara.glif</string>
		<key>dvAnudatta</key>
		<string>dvA_nudatta.glif</string>
		<key>dvAnusvara</key>
		<string>dvA_nusvara.glif</string>
		<key>dvAshort</key>
		<string>dvA_short.glif</string>
		<key>dvAu</key>
		<string>dvA_u.glif</string>
		<key>dvAusign</key>
		<string>dvA_usign.glif</string>
		<key>dvAusignReph</key>
		<string>dvA_usignR_eph.glif</string>
		<key>dvAusignRephAnusvara</key>
		<string>dvA_usignR_ephA_nusvara.glif</string>
		<key>dvAvagraha</key>
		<string>dvA_vagraha.glif</string>
		<key>dvB</key>
		<string>dvB_.glif</string>
		<key>dvB.a</key>
		<string>dvB_.a.glif</string>
		<key>dvBNa</key>
		<string>dvB_N_a.glif</string>
		<key>dvBRa</key>
		<string>dvB_R_a.glif</string>
		<key>dvBa</key>
		<string>dvB_a.glif</string>
		<key>dvBb</key>
		<string>dvB_b.glif</string>
		<key>dvBb.a</key>
		<string>dvB_b.a.glif</string>
		<key>dvBba</key>
		<string>dvB_ba.glif</string>
		<key>dvBh</key>
		<string>dvB_h.glif</string>
		<key>dvBhR</key>
		<string>dvB_hR_.glif</string>
		<key>dvBhRYa</key>
		<string>dvB_hR_Y_a.glif</string>
		<key>dvBhRa</key>
		<string>dvB_hR_a.glif</string>
		<key>dvBha</key>
		<string>dvB_ha.glif</string>
		<key>dvC</key>
		<string>dvC_.glif</string>
		<key>dvC.a</key>
		<string>dvC_.a.glif</string>
		<key>dvCChVa</key>
		<string>dvC_C_hV_a.glif</string>
		<key>dvCCha</key>
		<string>dvC_C_ha.glif</string>
		<key>dvCNa</key>
		<string>dvC_N_a.glif</string>
		<key>dvCRa</key>
		<string>dvC_R_a.glif</string>
		<key>dvCa</key>
		<string>dvC_a.glif</string>
		<key>dvCandrabindu</key>
		<string>dvC_andrabindu.glif</string>
		<key>dvCh.a</key>
		<string>dvC_h.a.glif</string>
		<key>dvChVa</key>
		<string>dvC_hV_a.glif</string>
		<key>dvChYa</key>
		<string>dvC_hY_a.glif</string>
		<key>dvCha</key>
		<string>dvC_ha.glif</string>
		<key>dvDBRa</key>
		<string>dvD_B_R_a.glif</string>
		<key>dvDBa</key>
		<string>dvD_B_a.glif</string>
		<key>dvDBhYa</key>
		<string>dvD_B_hY_a.glif</string>
		<key>dvDBha</key>
		<string>dvD_B_ha.glif</string>
		<key>dvDDhYa</key>
		<string>dvD_D_hY_a.glif</string>
		<key>dvDDhYa.copy_1</key>
		<string>dvD_D_hY_a.copy_1.glif</string>
		<key>dvDDha</key>
		<string>dvD_D_ha.glif</string>
		<key>dvDDha.copy_1</key>
		<string>dvD_D_ha.copy_1.glif</string>
		<key>dvDGRa</key>
		<string>dvD_G_R_a.glif</string>
		<key>dvDGa</key>
		<string>dvD_G_a.glif</string>
		<key>dvDGha</key>
		<string>dvD_G_ha.glif</string>
		<key>dvDMa</key>
		<string>dvD_M_a.glif</string>
		<key>dvDNa</key>
		<string>dvD_N_a.glif</string>
		<key>dvDRYa</key>
		<string>dvD_R_Y_a.glif</string>
		<key>dvDRa</key>
		<string>dvD_R_a.glif</string>
		<key>dvDRvocal</key>
		<string>dvD_R_vocal.glif</string>
		<key>dvDVRa</key>
		<string>dvD_V_R_a.glif</string>
		<key>dvDVYa</key>
		<string>dvD_V_Y_a.glif</string>
		<key>dvDVa</key>
		<string>dvD_V_a.glif</string>
		<key>dvDYa</key>
		<string>dvD_Y_a.glif</string>
		<key>dvDa</key>
		<string>dvD_a.glif</string>
		<key>dvDdDdYa</key>
		<string>dvD_dD_dY_a.glif</string>
		<key>dvDdDda</key>
		<string>dvD_dD_da.glif</string>
		<key>dvDdDdha</key>
		<string>dvD_dD_dha.glif</string>
		<key>dvDdTta</key>
		<string>dvD_dT_ta.glif</string>
		<key>dvDdYa</key>
		<string>dvD_dY_a.glif</string>
		<key>dvDdYa.copy_1</key>
		<string>dvD_dY_a.copy_1.glif</string>
		<key>dvDda</key>
		<string>dvD_da.glif</string>
		<key>dvDda.copy_1</key>
		<string>dvD_da.copy_1.glif</string>
		<key>dvDdda</key>
		<string>dvD_dda.glif</string>
		<key>dvDddha</key>
		<string>dvD_ddha.glif</string>
		<key>dvDdhDdhYa</key>
		<string>dvD_dhD_dhY_a.glif</string>
		<key>dvDdhDdha</key>
		<string>dvD_dhD_dha.glif</string>
		<key>dvDh</key>
		<string>dvD_h.glif</string>
		<key>dvDhNYa</key>
		<string>dvD_hN_Y_a.glif</string>
		<key>dvDhNa</key>
		<string>dvD_hN_a.glif</string>
		<key>dvDhR</key>
		<string>dvD_hR_.glif</string>
		<key>dvDhRa</key>
		<string>dvD_hR_a.glif</string>
		<key>dvDha</key>
		<string>dvD_ha.glif</string>
		<key>dvE</key>
		<string>dvE_.glif</string>
		<key>dvEcandra</key>
		<string>dvE_candra.glif</string>
		<key>dvEcandrasign</key>
		<string>dvE_candrasign.glif</string>
		<key>dvEight</key>
		<string>dvE_ight.glif</string>
		<key>dvEight.a</key>
		<string>dvE_ight.a.glif</string>
		<key>dvEight.pnma</key>
		<string>dvE_ight.pnma.glif</string>
		<key>dvEight.pnum</key>
		<string>dvE_ight.pnum.glif</string>
		<key>dvEshort</key>
		<string>dvE_short.glif</string>
		<key>dvEshortsign</key>
		<string>dvE_shortsign.glif</string>
		<key>dvEsign</key>
		<string>dvE_sign.glif</string>
		<key>dvEsignReph</key>
		<string>dvE_signR_eph.glif</string>
		<key>dvEsignRephAnusvara</key>
		<string>dvE_signR_ephA_nusvara.glif</string>
		<key>dvF</key>
		<string>dvF_.glif</string>
		<key>dvFRa</key>
		<string>dvF_R_a.glif</string>
		<key>dvFa</key>
		<string>dvF_a.glif</string>
		<key>dvFive</key>
		<string>dvF_ive.glif</string>
		<key>dvFive.a</key>
		<string>dvF_ive.a.glif</string>
		<key>dvFive.pnma</key>
		<string>dvF_ive.pnma.glif</string>
		<key>dvFive.pnum</key>
		<string>dvF_ive.pnum.glif</string>
		<key>dvFour</key>
		<string>dvF_our.glif</string>
		<key>dvFour.pnum</key>
		<string>dvF_our.pnum.glif</string>
		<key>dvG</key>
		<string>dvG_.glif</string>
		<key>dvGNYa</key>
		<string>dvG_N_Y_a.glif</string>
		<key>dvGNa</key>
		<string>dvG_N_a.glif</string>
		<key>dvGR</key>
		<string>dvG_R_.glif</string>
		<key>dvGRYa</key>
		<string>dvG_R_Y_a.glif</string>
		<key>dvGRa</key>
		<string>dvG_R_a.glif</string>
		<key>dvGa</key>
		<string>dvG_a.glif</string>
		<key>dvGg</key>
		<string>dvG_g.glif</string>
		<key>dvGga</key>
		<string>dvG_ga.glif</string>
		<key>dvGh</key>
		<string>dvG_h.glif</string>
		<key>dvGhNa</key>
		<string>dvG_hN_a.glif</string>
		<key>dvGhR</key>
		<string>dvG_hR_.glif</string>
		<key>dvGhRa</key>
		<string>dvG_hR_a.glif</string>
		<key>dvGha</key>
		<string>dvG_ha.glif</string>
		<key>dvGhh</key>
		<string>dvG_hh.glif</string>
		<key>dvGhhRa</key>
		<string>dvG_hhR_a.glif</string>
		<key>dvGhha</key>
		<string>dvG_hha.glif</string>
		<key>dvGrave</key>
		<string>dvG_rave.glif</string>
		<key>dvHLa</key>
		<string>dvH_L_a.glif</string>
		<key>dvHMYa</key>
		<string>dvH_M_Y_a.glif</string>
		<key>dvHMa</key>
		<string>dvH_M_a.glif</string>
		<key>dvHNa</key>
		<string>dvH_N_a.glif</string>
		<key>dvHNna</key>
		<string>dvH_N_na.glif</string>
		<key>dvHRa</key>
		<string>dvH_R_a.glif</string>
		<key>dvHRvocal</key>
		<string>dvH_R_vocal.glif</string>
		<key>dvHU</key>
		<string>dvH_U_.glif</string>
		<key>dvHUu</key>
		<string>dvH_U_u.glif</string>
		<key>dvHVa</key>
		<string>dvH_V_a.glif</string>
		<key>dvHYa</key>
		<string>dvH_Y_a.glif</string>
		<key>dvHa</key>
		<string>dvH_a.glif</string>
		<key>dvI</key>
		<string>dvI_.glif</string>
		<key>dvIi</key>
		<string>dvI_i.glif</string>
		<key>dvIiAnusvara</key>
		<string>dvI_iA_nusvara.glif</string>
		<key>dvIisign</key>
		<string>dvI_isign.glif</string>
		<key>dvIisignReph</key>
		<string>dvI_isignR_eph.glif</string>
		<key>dvIisignReph.M</key>
		<string>dvI_isignR_eph.M_.glif</string>
		<key>dvIisignReph.W</key>
		<string>dvI_isignR_eph.W_.glif</string>
		<key>dvIisignRephAnusvara</key>
		<string>dvI_isignR_ephA_nusvara.glif</string>
		<key>dvIisignRephAnusvara.M</key>
		<string>dvI_isignR_ephA_nusvara.M_.glif</string>
		<key>dvIisignRephAnusvara.W</key>
		<string>dvI_isignR_ephA_nusvara.W_.glif</string>
		<key>dvIsign</key>
		<string>dvI_sign.glif</string>
		<key>dvJ</key>
		<string>dvJ_.glif</string>
		<key>dvJNa</key>
		<string>dvJ_N_a.glif</string>
		<key>dvJNy</key>
		<string>dvJ_N_y.glif</string>
		<key>dvJNyYa</key>
		<string>dvJ_N_yY_a.glif</string>
		<key>dvJNya</key>
		<string>dvJ_N_ya.glif</string>
		<key>dvJRa</key>
		<string>dvJ_R_a.glif</string>
		<key>dvJa</key>
		<string>dvJ_a.glif</string>
		<key>dvJh</key>
		<string>dvJ_h.glif</string>
		<key>dvJhNa</key>
		<string>dvJ_hN_a.glif</string>
		<key>dvJhRa</key>
		<string>dvJ_hR_a.glif</string>
		<key>dvJha</key>
		<string>dvJ_ha.glif</string>
		<key>dvJj</key>
		<string>dvJ_j.glif</string>
		<key>dvJja</key>
		<string>dvJ_ja.glif</string>
		<key>dvK</key>
		<string>dvK_.glif</string>
		<key>dvKKa</key>
		<string>dvK_K_a.glif</string>
		<key>dvKLa</key>
		<string>dvK_L_a.glif</string>
		<key>dvKNa</key>
		<string>dvK_N_a.glif</string>
		<key>dvKR</key>
		<string>dvK_R_.glif</string>
		<key>dvKRa</key>
		<string>dvK_R_a.glif</string>
		<key>dvKRa.a</key>
		<string>dvK_R_a.a.glif</string>
		<key>dvKSs</key>
		<string>dvK_S_s.glif</string>
		<key>dvKSsMa</key>
		<string>dvK_S_sM_a.glif</string>
		<key>dvKSsRa</key>
		<string>dvK_S_sR_a.glif</string>
		<key>dvKSsYa</key>
		<string>dvK_S_sY_a.glif</string>
		<key>dvKSsa</key>
		<string>dvK_S_sa.glif</string>
		<key>dvKTRa</key>
		<string>dvK_T_R_a.glif</string>
		<key>dvKTa</key>
		<string>dvK_T_a.glif</string>
		<key>dvKVa</key>
		<string>dvK_V_a.glif</string>
		<key>dvKYa</key>
		<string>dvK_Y_a.glif</string>
		<key>dvKa</key>
		<string>dvK_a.glif</string>
		<key>dvKh</key>
		<string>dvK_h.glif</string>
		<key>dvKh.a</key>
		<string>dvK_h.a.glif</string>
		<key>dvKhNa</key>
		<string>dvK_hN_a.glif</string>
		<key>dvKhRa</key>
		<string>dvK_hR_a.glif</string>
		<key>dvKha</key>
		<string>dvK_ha.glif</string>
		<key>dvKhh</key>
		<string>dvK_hh.glif</string>
		<key>dvKhh.a</key>
		<string>dvK_hh.a.glif</string>
		<key>dvKhhRa</key>
		<string>dvK_hhR_a.glif</string>
		<key>dvKhha</key>
		<string>dvK_hha.glif</string>
		<key>dvL</key>
		<string>dvL_.glif</string>
		<key>dvLLa</key>
		<string>dvL_L_a.glif</string>
		<key>dvLLa.copy_1</key>
		<string>dvL_L_a.copy_1.glif</string>
		<key>dvLRa</key>
		<string>dvL_R_a.glif</string>
		<key>dvLa</key>
		<string>dvL_a.glif</string>
		<key>dvLa.MAR</key>
		<string>dvL_a.M_A_R_.glif</string>
		<key>dvLl</key>
		<string>dvL_l.glif</string>
		<key>dvLll</key>
		<string>dvL_ll.glif</string>
		<key>dvLlla</key>
		<string>dvL_lla.glif</string>
		<key>dvLlvocal</key>
		<string>dvL_lvocal.glif</string>
		<key>dvLlvocalsign</key>
		<string>dvL_lvocalsign.glif</string>
		<key>dvLvocal</key>
		<string>dvL_vocal.glif</string>
		<key>dvLvocalsign</key>
		<string>dvL_vocalsign.glif</string>
		<key>dvM</key>
		<string>dvM_.glif</string>
		<key>dvM.a</key>
		<string>dvM_.a.glif</string>
		<key>dvMNa</key>
		<string>dvM_N_a.glif</string>
		<key>dvMRa</key>
		<string>dvM_R_a.glif</string>
		<key>dvMa</key>
		<string>dvM_a.glif</string>
		<key>dvN</key>
		<string>dvN_.glif</string>
		<key>dvNRa</key>
		<string>dvN_R_a.glif</string>
		<key>dvNa</key>
		<string>dvN_a.glif</string>
		<key>dvNa.c2</key>
		<string>dvN_a.c2.glif</string>
		<key>dvNgGa</key>
		<string>dvN_gG_a.glif</string>
		<key>dvNgGha</key>
		<string>dvN_gG_ha.glif</string>
		<key>dvNgKRa</key>
		<string>dvN_gK_R_a.glif</string>
		<key>dvNgKSsa</key>
		<string>dvN_gK_S_sa.glif</string>
		<key>dvNgKa</key>
		<string>dvN_gK_a.glif</string>
		<key>dvNgKha</key>
		<string>dvN_gK_ha.glif</string>
		<key>dvNgMa</key>
		<string>dvN_gM_a.glif</string>
		<key>dvNgYa</key>
		<string>dvN_gY_a.glif</string>
		<key>dvNga</key>
		<string>dvN_ga.glif</string>
		<key>dvNine</key>
		<string>dvN_ine.glif</string>
		<key>dvNine.a</key>
		<string>dvN_ine.a.glif</string>
		<key>dvNine.pnma</key>
		<string>dvN_ine.pnma.glif</string>
		<key>dvNine.pnum</key>
		<string>dvN_ine.pnum.glif</string>
		<key>dvNn</key>
		<string>dvN_n.glif</string>
		<key>dvNnRa</key>
		<string>dvN_nR_a.glif</string>
		<key>dvNna</key>
		<string>dvN_na.glif</string>
		<key>dvNna.copy_1</key>
		<string>dvN_na.copy_1.glif</string>
		<key>dvNnn</key>
		<string>dvN_nn.glif</string>
		<key>dvNnnRa</key>
		<string>dvN_nnR_a.glif</string>
		<key>dvNnna</key>
		<string>dvN_nna.glif</string>
		<key>dvNukta</key>
		<string>dvN_ukta.glif</string>
		<key>dvNxa.c2</key>
		<string>dvN_xa.c2.glif</string>
		<key>dvNy</key>
		<string>dvN_y.glif</string>
		<key>dvNyCYa</key>
		<string>dvN_yC_Y_a.glif</string>
		<key>dvNyCa</key>
		<string>dvN_yC_a.glif</string>
		<key>dvNyCha</key>
		<string>dvN_yC_ha.glif</string>
		<key>dvNyJYa</key>
		<string>dvN_yJ_Y_a.glif</string>
		<key>dvNyJa</key>
		<string>dvN_yJ_a.glif</string>
		<key>dvNyRa</key>
		<string>dvN_yR_a.glif</string>
		<key>dvNya</key>
		<string>dvN_ya.glif</string>
		<key>dvO</key>
		<string>dvO_.glif</string>
		<key>dvOcandra</key>
		<string>dvO_candra.glif</string>
		<key>dvOcandrasign</key>
		<string>dvO_candrasign.glif</string>
		<key>dvOm</key>
		<string>dvO_m.glif</string>
		<key>dvOne</key>
		<string>dvO_ne.glif</string>
		<key>dvOne.a</key>
		<string>dvO_ne.a.glif</string>
		<key>dvOne.pnma</key>
		<string>dvO_ne.pnma.glif</string>
		<key>dvOne.pnum</key>
		<string>dvO_ne.pnum.glif</string>
		<key>dvOshort</key>
		<string>dvO_short.glif</string>
		<key>dvOshortsign</key>
		<string>dvO_shortsign.glif</string>
		<key>dvOsign</key>
		<string>dvO_sign.glif</string>
		<key>dvOsignReph</key>
		<string>dvO_signR_eph.glif</string>
		<key>dvOsignRephAnusvara</key>
		<string>dvO_signR_ephA_nusvara.glif</string>
		<key>dvP</key>
		<string>dvP_.glif</string>
		<key>dvP.a</key>
		<string>dvP_.a.glif</string>
		<key>dvPR</key>
		<string>dvP_R_.glif</string>
		<key>dvPRa</key>
		<string>dvP_R_a.glif</string>
		<key>dvPTa</key>
		<string>dvP_T_a.glif</string>
		<key>dvPTta</key>
		<string>dvP_T_ta.glif</string>
		<key>dvPa</key>
		<string>dvP_a.glif</string>
		<key>dvPh</key>
		<string>dvP_h.glif</string>
		<key>dvPhRa</key>
		<string>dvP_hR_a.glif</string>
		<key>dvPha</key>
		<string>dvP_ha.glif</string>
		<key>dvQ</key>
		<string>dvQ_.glif</string>
		<key>dvQR</key>
		<string>dvQ_R_.glif</string>
		<key>dvQRa</key>
		<string>dvQ_R_a.glif</string>
		<key>dvQa</key>
		<string>dvQ_a.glif</string>
		<key>dvRU</key>
		<string>dvR_U_.glif</string>
		<key>dvRUu</key>
		<string>dvR_U_u.glif</string>
		<key>dvRa</key>
		<string>dvR_a.glif</string>
		<key>dvRakarUsign</key>
		<string>dvR_akarU_sign.glif</string>
		<key>dvRakarUusign</key>
		<string>dvR_akarU_usign.glif</string>
		<key>dvReph</key>
		<string>dvR_eph.glif</string>
		<key>dvReph.MAR</key>
		<string>dvR_eph.M_A_R_.glif</string>
		<key>dvRephAnusvara</key>
		<string>dvR_ephA_nusvara.glif</string>
		<key>dvRha</key>
		<string>dvR_ha.glif</string>
		<key>dvRr</key>
		<string>dvR_r.glif</string>
		<key>dvRra</key>
		<string>dvR_ra.glif</string>
		<key>dvRrvocal</key>
		<string>dvR_rvocal.glif</string>
		<key>dvRrvocalsign</key>
		<string>dvR_rvocalsign.glif</string>
		<key>dvRvocal</key>
		<string>dvR_vocal.glif</string>
		<key>dvRvocalsign</key>
		<string>dvR_vocalsign.glif</string>
		<key>dvS</key>
		<string>dvS_.glif</string>
		<key>dvSNa</key>
		<string>dvS_N_a.glif</string>
		<key>dvSR</key>
		<string>dvS_R_.glif</string>
		<key>dvSRa</key>
		<string>dvS_R_a.glif</string>
		<key>dvSa</key>
		<string>dvS_a.glif</string>
		<key>dvSeven</key>
		<string>dvS_even.glif</string>
		<key>dvSeven.pnum</key>
		<string>dvS_even.pnum.glif</string>
		<key>dvSh</key>
		<string>dvS_h.glif</string>
		<key>dvSh.MAR</key>
		<string>dvS_h.M_A_R_.glif</string>
		<key>dvShCa</key>
		<string>dvS_hC_a.glif</string>
		<key>dvShNa</key>
		<string>dvS_hN_a.glif</string>
		<key>dvShR</key>
		<string>dvS_hR_.glif</string>
		<key>dvShRYa</key>
		<string>dvS_hR_Y_a.glif</string>
		<key>dvShRa</key>
		<string>dvS_hR_a.glif</string>
		<key>dvShRvocal</key>
		<string>dvS_hR_vocal.glif</string>
		<key>dvShRvocal.MAR</key>
		<string>dvS_hR_vocal.M_A_R_.glif</string>
		<key>dvShVa</key>
		<string>dvS_hV_a.glif</string>
		<key>dvSha</key>
		<string>dvS_ha.glif</string>
		<key>dvSha.MAR</key>
		<string>dvS_ha.M_A_R_.glif</string>
		<key>dvSix</key>
		<string>dvS_ix.glif</string>
		<key>dvSix.pnum</key>
		<string>dvS_ix.pnum.glif</string>
		<key>dvSs</key>
		<string>dvS_s.glif</string>
		<key>dvSs.a</key>
		<string>dvS_s.a.glif</string>
		<key>dvSsR</key>
		<string>dvS_sR_.glif</string>
		<key>dvSsRa</key>
		<string>dvS_sR_a.glif</string>
		<key>dvSsTtVa</key>
		<string>dvS_sT_tV_a.glif</string>
		<key>dvSsTtYa</key>
		<string>dvS_sT_tY_a.glif</string>
		<key>dvSsTta</key>
		<string>dvS_sT_ta.glif</string>
		<key>dvSsTthYa</key>
		<string>dvS_sT_thY_a.glif</string>
		<key>dvSsTtha</key>
		<string>dvS_sT_tha.glif</string>
		<key>dvSsa</key>
		<string>dvS_sa.glif</string>
		<key>dvStop</key>
		<string>dvS_top.glif</string>
		<key>dvT</key>
		<string>dvT_.glif</string>
		<key>dvT.a</key>
		<string>dvT_.a.glif</string>
		<key>dvTNa</key>
		<string>dvT_N_a.glif</string>
		<key>dvTR</key>
		<string>dvT_R_.glif</string>
		<key>dvTRYa</key>
		<string>dvT_R_Y_a.glif</string>
		<key>dvTRYa.a</key>
		<string>dvT_R_Y_a.a.glif</string>
		<key>dvTRa</key>
		<string>dvT_R_a.glif</string>
		<key>dvTRa.a</key>
		<string>dvT_R_a.a.glif</string>
		<key>dvTT</key>
		<string>dvT_T_.glif</string>
		<key>dvTTa</key>
		<string>dvT_T_a.glif</string>
		<key>dvTTa.copy_1</key>
		<string>dvT_T_a.copy_1.glif</string>
		<key>dvTa</key>
		<string>dvT_a.glif</string>
		<key>dvTh</key>
		<string>dvT_h.glif</string>
		<key>dvThRa</key>
		<string>dvT_hR_a.glif</string>
		<key>dvTha</key>
		<string>dvT_ha.glif</string>
		<key>dvThree</key>
		<string>dvT_hree.glif</string>
		<key>dvThree.pnum</key>
		<string>dvT_hree.pnum.glif</string>
		<key>dvTtDdha</key>
		<string>dvT_tD_dha.glif</string>
		<key>dvTtTtYa</key>
		<string>dvT_tT_tY_a.glif</string>
		<key>dvTtTta</key>
		<string>dvT_tT_ta.glif</string>
		<key>dvTtTtha</key>
		<string>dvT_tT_tha.glif</string>
		<key>dvTtVa</key>
		<string>dvT_tV_a.glif</string>
		<key>dvTtYa</key>
		<string>dvT_tY_a.glif</string>
		<key>dvTthTthYa</key>
		<string>dvT_thT_thY_a.glif</string>
		<key>dvTthTtha</key>
		<string>dvT_thT_tha.glif</string>
		<key>dvTthYa</key>
		<string>dvT_thY_a.glif</string>
		<key>dvTtha</key>
		<string>dvT_tha.glif</string>
		<key>dvTwo</key>
		<string>dvT_wo.glif</string>
		<key>dvTwo.pnum</key>
		<string>dvT_wo.pnum.glif</string>
		<key>dvU</key>
		<string>dvU_.glif</string>
		<key>dvUdatta</key>
		<string>dvU_datta.glif</string>
		<key>dvUsign</key>
		<string>dvU_sign.glif</string>
		<key>dvUsign.a</key>
		<string>dvU_sign.a.glif</string>
		<key>dvUu</key>
		<string>dvU_u.glif</string>
		<key>dvUusign</key>
		<string>dvU_usign.glif</string>
		<key>dvUusign.a</key>
		<string>dvU_usign.a.glif</string>
		<key>dvV</key>
		<string>dvV_.glif</string>
		<key>dvV.a</key>
		<string>dvV_.a.glif</string>
		<key>dvVRa</key>
		<string>dvV_R_a.glif</string>
		<key>dvVa</key>
		<string>dvV_a.glif</string>
		<key>dvVirama</key>
		<string>dvV_irama.glif</string>
		<key>dvVisarga</key>
		<string>dvV_isarga.glif</string>
		<key>dvY</key>
		<string>dvY_.glif</string>
		<key>dvYRa</key>
		<string>dvY_R_a.glif</string>
		<key>dvYa</key>
		<string>dvY_a.glif</string>
		<key>dvYa.c2</key>
		<string>dvY_a.c2.glif</string>
		<key>dvYxa.c2</key>
		<string>dvY_xa.c2.glif</string>
		<key>dvYy</key>
		<string>dvY_y.glif</string>
		<key>dvYyRa</key>
		<string>dvY_yR_a.glif</string>
		<key>dvYya</key>
		<string>dvY_ya.glif</string>
		<key>dvZ</key>
		<string>dvZ_.glif</string>
		<key>dvZRa</key>
		<string>dvZ_R_a.glif</string>
		<key>dvZa</key>
		<string>dvZ_a.glif</string>
		<key>dvZero</key>
		<string>dvZ_ero.glif</string>
		<key>dvZero.pnum</key>
		<string>dvZ_ero.pnum.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eacute</key>
		<string>eacute.glif</string>
		<key>ebreve</key>
		<string>ebreve.glif</string>
		<key>ecircumflex</key>
		<string>ecircumflex.glif</string>
		<key>edieresis</key>
		<string>edieresis.glif</string>
		<key>egrave</key>
		<string>egrave.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eight.pnum</key>
		<string>eight.pnum.glif</string>
		<key>ellipsis</key>
		<string>ellipsis.glif</string>
		<key>emacron</key>
		<string>emacron.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>endash</key>
		<string>endash.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>estimated</key>
		<string>estimated.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>etilde</key>
		<string>etilde.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f_f</key>
		<string>f_f.glif</string>
		<key>f_f_i</key>
		<string>f_f_i.glif</string>
		<key>f_f_l</key>
		<string>f_f_l.glif</string>
		<key>fi</key>
		<string>fi.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>five.pnum</key>
		<string>five.pnum.glif</string>
		<key>fl</key>
		<string>fl.glif</string>
		<key>florin</key>
		<string>florin.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>four.pnum</key>
		<string>four.pnum.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gdotaccent</key>
		<string>gdotaccent.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>gravecmb</key>
		<string>gravecmb.glif</string>
		<key>gravecmb.cap</key>
		<string>gravecmb.cap.glif</string>
		<key>greater</key>
		<string>greater.glif</string>
		<key>greaterequal</key>
		<string>greaterequal.glif</string>
		<key>guillemotleft</key>
		<string>guillemotleft.glif</string>
		<key>guillemotright</key>
		<string>guillemotright.glif</string>
		<key>guilsinglleft</key>
		<string>guilsinglleft.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hbrevebelow</key>
		<string>hbrevebelow.glif</string>
		<key>hdotbelow</key>
		<string>hdotbelow.glif</string>
		<key>hlinebelow</key>
		<string>hlinebelow.glif</string>
		<key>hungarumlaut</key>
		<string>hungarumlaut.glif</string>
		<key>hungarumlautcmb</key>
		<string>hungarumlautcmb.glif</string>
		<key>hyphen</key>
		<string>hyphen.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>iacute</key>
		<string>iacute.glif</string>
		<key>icircumflex</key>
		<string>icircumflex.glif</string>
		<key>idieresis</key>
		<string>idieresis.glif</string>
		<key>igrave</key>
		<string>igrave.glif</string>
		<key>imacron</key>
		<string>imacron.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>integral</key>
		<string>integral.glif</string>
		<key>itilde</key>
		<string>itilde.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>kdotbelow</key>
		<string>kdotbelow.glif</string>
		<key>klinebelow</key>
		<string>klinebelow.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>ldotbelow</key>
		<string>ldotbelow.glif</string>
		<key>ldotbelowmacron</key>
		<string>ldotbelowmacron.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>lessequal</key>
		<string>lessequal.glif</string>
		<key>litre</key>
		<string>litre.glif</string>
		<key>llinebelow</key>
		<string>llinebelow.glif</string>
		<key>logicalnot</key>
		<string>logicalnot.glif</string>
		<key>lozenge</key>
		<string>lozenge.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>macron</key>
		<string>macron.glif</string>
		<key>macronbelowcmb</key>
		<string>macronbelowcmb.glif</string>
		<key>macroncmb</key>
		<string>macroncmb.glif</string>
		<key>macroncmb.cap</key>
		<string>macroncmb.cap.glif</string>
		<key>mdotaccent</key>
		<string>mdotaccent.glif</string>
		<key>mdotbelow</key>
		<string>mdotbelow.glif</string>
		<key>minus</key>
		<string>minus.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>nbspace</key>
		<string>nbspace.glif</string>
		<key>ndotaccent</key>
		<string>ndotaccent.glif</string>
		<key>ndotbelow</key>
		<string>ndotbelow.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nine.pnum</key>
		<string>nine.pnum.glif</string>
		<key>nlinebelow</key>
		<string>nlinebelow.glif</string>
		<key>notequal</key>
		<string>notequal.glif</string>
		<key>ntilde</key>
		<string>ntilde.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>oacute</key>
		<string>oacute.glif</string>
		<key>obreve</key>
		<string>obreve.glif</string>
		<key>ocircumflex</key>
		<string>ocircumflex.glif</string>
		<key>odieresis</key>
		<string>odieresis.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>ogonek</key>
		<string>ogonek.glif</string>
		<key>ogonekcmb</key>
		<string>ogonekcmb.glif</string>
		<key>ograve</key>
		<string>ograve.glif</string>
		<key>omacron</key>
		<string>omacron.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.pnum</key>
		<string>one.pnum.glif</string>
		<key>onehalf</key>
		<string>onehalf.glif</string>
		<key>onequarter</key>
		<string>onequarter.glif</string>
		<key>ordfeminine</key>
		<string>ordfeminine.glif</string>
		<key>ordmasculine</key>
		<string>ordmasculine.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>otilde</key>
		<string>otilde.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>partialdiff</key>
		<string>partialdiff.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>periodcentered</key>
		<string>periodcentered.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>pi</key>
		<string>pi.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>plusminus</key>
		<string>plusminus.glif</string>
		<key>product</key>
		<string>product.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>quotedbl</key>
		<string>quotedbl.glif</string>
		<key>quotedblbase</key>
		<string>quotedblbase.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>quotedblright</key>
		<string>quotedblright.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>quotesinglbase</key>
		<string>quotesinglbase.glif</string>
		<key>quotesingle</key>
		<string>quotesingle.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>radical</key>
		<string>radical.glif</string>
		<key>rdotaccent</key>
		<string>rdotaccent.glif</string>
		<key>rdotbelow</key>
		<string>rdotbelow.glif</string>
		<key>rdotbelowmacron</key>
		<string>rdotbelowmacron.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>ring</key>
		<string>ring.glif</string>
		<key>ringbelowcmb</key>
		<string>ringbelowcmb.glif</string>
		<key>ringcmb</key>
		<string>ringcmb.glif</string>
		<key>ringcmb.cap</key>
		<string>ringcmb.cap.glif</string>
		<key>rlinebelow</key>
		<string>rlinebelow.glif</string>
		<key>rupeeindian</key>
		<string>rupeeindian.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>sacute</key>
		<string>sacute.glif</string>
		<key>scaron</key>
		<string>scaron.glif</string>
		<key>sdotbelow</key>
		<string>sdotbelow.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>seven.pnum</key>
		<string>seven.pnum.glif</string>
		<key>sfthyphen</key>
		<string>sfthyphen.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>six.pnum</key>
		<string>six.pnum.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>summation</key>
		<string>summation.glif</string>
		<key>svastiright</key>
		<string>svastiright.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>tdotbelow</key>
		<string>tdotbelow.glif</string>
		<key>thorn</key>
		<string>thorn.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>three.pnum</key>
		<string>three.pnum.glif</string>
		<key>threequarters</key>
		<string>threequarters.glif</string>
		<key>tilde</key>
		<string>tilde.glif</string>
		<key>tildecmb</key>
		<string>tildecmb.glif</string>
		<key>tildecmb.cap</key>
		<string>tildecmb.cap.glif</string>
		<key>tlinebelow</key>
		<string>tlinebelow.glif</string>
		<key>trademark</key>
		<string>trademark.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.pnum</key>
		<string>two.pnum.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>uacute</key>
		<string>uacute.glif</string>
		<key>ubreve</key>
		<string>ubreve.glif</string>
		<key>ucircumflex</key>
		<string>ucircumflex.glif</string>
		<key>udieresis</key>
		<string>udieresis.glif</string>
		<key>ugrave</key>
		<string>ugrave.glif</string>
		<key>umacron</key>
		<string>umacron.glif</string>
		<key>underscore</key>
		<string>underscore.glif</string>
		<key>utilde</key>
		<string>utilde.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>veSvaritadbl</key>
		<string>veS_varitadbl.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>yacute</key>
		<string>yacute.glif</string>
		<key>ydieresis</key>
		<string>ydieresis.glif</string>
		<key>ydotaccent</key>
		<string>ydotaccent.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>zcaron</key>
		<string>zcaron.glif</string>
		<key>zdotaccent</key>
		<string>zdotaccent.glif</string>
		<key>zdotbelow</key>
		<string>zdotbelow.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zero.pnum</key>
		<string>zero.pnum.glif</string>
		<key>zlinebelow</key>
		<string>zlinebelow.glif</string>
	</dict>
</plist>
